body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin-bottom: 50px;
  color: black;
  font-size: 2em;
  text-align: center;
}

.contentBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  gap: 20px;
  max-width: 600px;
}

.btn {
  width: 120px;
  height: 60px;
  background-color: #0481b7;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  transition: transform 0.2s, background-color 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #555;
}