body{
    background-color: rgb(19, 19, 19);
}

p{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    transition-duration: 1.2s;
}

p:hover {
    background-color: aqua;
    margin-left: 100px;
}