<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>The Home Page</h1>
    <h2> <%= 7+2 %> </h2>
    <h2> <%= ["Hello", "Bonjour", "Namaste"][1] %> </h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A dignissimos nihil in obcaecati voluptates, autem nam quia quas ipsa eveniet! Unde animi, distinctio fuga amet ullam porro omnis fugit, veniam eius itaque officia reprehenderit nesciunt illum possimus iste, optio maiores aspernatur vel? Modi tenetur ipsum illo nam reprehenderit repudiandae assumenda amet iusto, ipsam ratione quae? Corrupti non temporibus ratione aliquam aspernatur quo dolorum quasi in, illo eveniet modi id.</p>
    <button>Click me!</button>
</body>
</html>