section{
    margin-top: 100px;
}

div{
    width: 200px;
    height: 90px;
    text-align: center;
    background-color: rgb(5, 167, 203);
    border: 1px solid black;
    border-radius: 9px;
    margin: 9px auto;
    color: black;
}

#two, #four{
    background-color: rgb(123, 0, 255);
}

#five{
    background-color: rgb(1, 149, 117);
}


/* ================ Transform ================ */

#one{
    transform: rotate(-45deg);
}

#two{
    transform: scale(0.49);
}

#three{
    transform: translate(149px, 0);
}

#four{
    transform: skew(-40deg);
}



#five{
    transition-duration: 1s;
}

#five:hover{
    transform: translate(149px, 0) rotate(-180deg) scale(0.7);
}